<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- https://blog.csdn.net/weidong_y/article/details/80557941 -->
<mapper namespace="com.xiu.fasteventdrivermodle.mapper.UserMapper">

	<resultMap type="com.xiu.fasteventdrivermodle.entity.User" id="userResult">
	<id property="userId" column="user_id"></id>	
	<result property="userName" column="user_name"></result>
	<result property="areaId" column="area_id"></result>
	</resultMap>

	<select id="getUserById" resultMap="userResult">
		select user_id,user_name,area_id from tb_user where user_id= #{userId}
	</select>
	
	<select id="getUserByNameAndArea" resultMap="userResult">
		select user_id,user_name,area_id from tb_user where user_name= #{userName} and area_name=#{areaName}
	</select>
	
	<resultMap type="com.xiu.fasteventdrivermodle.vo.UserAreas" id="userAreasResult">
		<id property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<association property="area" javaType="com.xiu.fasteventdrivermodle.entity.Area">
			<id property="areaId" column="area_id" ></id>
			<result property="areaName" column="area_name"></result>
			<result property="priority" column="priority"></result>
			<result property="createTime" column="create_time"></result>
			<result property="lastEditTime" column="last_edit_time"></result>
		</association>
	</resultMap>
	
	<select id="getUserAreasByUserId" resultMap="userAreasResult" parameterType="Integer">
		select tb1.user_id,tb1.user_name, tb2.area_name from tb_user tb1 inner join tb_area tb2 on
		tb1.area_id=tb2.area_id where tb1.user_id=#{userId}
	</select>
	
	
	<resultMap type="com.xiu.fasteventdrivermodle.vo.UserAreaLists" id="userAreaListsResult">
		<id property="userId" column="user_id"/>
		<result property="userName" column="user_name"/>
		<collection property="areaList"  ofType="com.xiu.fasteventdrivermodle.entity.Area">
			<id property="areaId" column="area_id" ></id>
			<result property="areaName" column="area_name"></result>
			<result property="priority" column="priority"></result>
			<result property="createTime" column="create_time"></result>
			<result property="lastEditTime" column="last_edit_time"></result>
		</collection>
	</resultMap>
	
	<select id="getUserAreasByAreaName" resultMap="userAreaListsResult">
		select tb1.user_id,tb1.user_name, tb2.area_id,tb2.area_name from tb_user tb1 inner join tb_area tb2 on
		tb1.area_name=tb2.area_name where tb1.area_name=#{userName}
	</select>
	
	
	
</mapper>